support all ajv's format

[Ajv](https://github.com/epoberezkin/ajv) has several format as in [here](https://github.com/epoberezkin/ajv#formats)

Considering support all of them in egg-config-validator

- [ ] date: full-date according to RFC3339.
- [ ]time: time with optional time-zone.
- [ ]date-time: date-time from the same source (time-zone is mandatory). date, time and date-time validate ranges in full mode and only regexp in fast mode (see options).
- [ ] uri: full uri with optional protocol.
- [x] url: URL record.
- [ ] uri-template: URI template according to RFC6570
- [ ] email: email address.
- [ ] hostname: host name according to RFC1034.
- [ ] ipv4: IP address v4.
- [ ] ipv6: IP address v6.
- [ ] regex: tests whether a string is a valid regular expression by passing it to RegExp constructor.
- [ ] uuid: Universally Unique IDentifier according to RFC4122.

what's more. If [generate-schema](https://github.com/Nijikokun/generate-schema) could not fit our requirement. Make pr or create your own tool.